* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.new_password {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.col-md-12 h2 {
    margin-bottom: 10px;
}

.col-md-12 p {
    margin-bottom: 20px;
}

.col-md-12 input {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.col-md-12 img {
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.input_password {
    width: 30%;
    margin: auto;
}

.input_password div {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.input_password div:hover {
    opacity: 0.8;
}

.footer-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
}