* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1423px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin-top: 100px;
}

.product-top {
    margin-bottom: 30px;
}

.product-top p {
    margin: 0 12px;
}

.product-content-left {
    width: 50%;
}

.product-content-left-big-img {
    width: 80%;
    padding-right: 20px;
}

.product-content-left-big-img img {
    width: 100%;
}

.product-content-left-small-img {
    width: 20%;
}

.product-content-left-small-img img {
    width: 100%;
    cursor: pointer;
}

.product-content-right {
    width: 50%;
    padding-left: 20px;
}

.product-content-right-product-name h1 {
    font-size: 16px;
}

.product-content-right-product-name p {
    color: #545454;
    font-size: 12px;
}

.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}

.product-content-right-product-color img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.product-content-right-product-color-img {
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}

.quantity {
    display: flex;
    margin-bottom: 20px;
}

.quantity input {
    width: 35px;
    padding-left: 3px;
}

.product-content-right-product-button button {
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease-in-out;
}

.product-content-right-product-button button:first-child {
    background-color: #ffffff;
    border: 2px solid black;
    cursor: pointer;
}

.product-content-right-product-button button:first-child:hover {
    background-color: #000000;
    color: white;
}

.product-content-right-product-button button:last-child {
    background-color: white;
    border: 2px solid #BF8A49;
    color: #BF8A49;
    cursor: pointer;
}

.product-content-right-product-icon {
    display: flex;
}

.product-content-right-product-icon-item {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-content-right-product-icon-item i {
    font-size: 12px;
    margin-right: 6px;
    cursor: pointer;
}

.product-content-right-product-QR {
    margin-top: 20px;
}

.product-content-right-product-QR img {
    width: 70px;
}

.product-content-right-bottom {
    position: relative;
    border-top: 1px solid #dddddd;
    margin: 40px;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
    padding-top: 30px;
    font-weight: bold;
}

.product-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

.product-content-right-bottom-content {
    padding: 10px;
}

.product-content-right-bottom-content p {
    line-height: 25px;
}

.activeDetail {
    display: none;
}

.product-related {
    margin-bottom: 50px;
}

.product-related-title {
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.product-related-title p {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    display: flex;
    background-color: white;
    display: inline-block;
    padding: 0 15px;
}

.product-related-title p::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3333;
    position: absolute;
    top: 50%;
    z-index: -2;
    left: 0;
}

.product-related-item {
    width: 20%;
    text-align: center;
    padding: 0 6px;
}

.product-related-item img {
    width: 100%;
}

.product-related-item h3 {
    font-size: 14px;
    color: #333333;
    margin-top: 6px;
}

.product-related-item p {
    font-size: 12px;
}